.container {
  flex-direction: column;
}

.title {
  margin-bottom: 2rem;
}

.total {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
}

.modal {
  h4:first-of-type {
    margin-top: 1rem;
  }

  .copy {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}