nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 1rem;
}

.logo {
  height: 70px;
}

:global .ant-menu-horizontal, :global .ant-menu-vertical {
  border: 0;
  background: transparent;
  text-transform: uppercase;
}

.menu {
  display: none;
  font-size: 0.8rem;
}

.collapsedMenuButton {
  display: initial;
  margin-right: 18px;
}

.drawer {
  :global .ant-drawer-content-wrapper {
    width: 100% !important;
    max-width: 500px;
  }

  :global .ant-drawer-content {
    background-image: url("../../assets/background.svg");
  }
}

@media (min-width: 768px) {
  .logo {
    width: 60px;
  }

  .menu {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    max-width: calc(100% - 174px - 2rem);
  }

  .collapsedMenuButton {
    display: none;
  }
}