nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 1rem;
}

.logo {
  height: 60px;
}

:global .ant-menu-horizontal, :global .ant-menu-vertical {
  border: 0;
  background: transparent;
}

.mobileHidden {
  display: none;
}

.desktopHidden {
  display: initial;
}

.drawer {
  :global .ant-drawer-content {
    background-image: url("../../assets/background.svg");
  }
}

@media (min-width: 768px) {
  .mobileHidden {
    display: initial;
  }

  .desktopHidden {
    display: none;
  }

  .menu {
    flex-grow: 1;
    justify-content: center;
    display: flex;
  }
}